stable_baselines3
lmdeploy
miniworld
moviepy
torch
torchvision
pettingzoo
pygame
hydra-core
opencv-python
langchain
langchain-google-genai
google-generativeai
tensorboard
rl_zoo3
#conda install anaconda::libglu